<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>plantInfo</key>
	<dict>
		<key>Bird of paradise</key>
		<dict>
			<key>description</key>
			<string>Native to South Africa, bird of paradise is a low-maintenance perennial plant with a tropical vibe. It thrives in well-lit indoor areas—near a window is best—and needs to be watered once a week (or when the soil gets dry). This pre-potted option from Costa Farms comes in a lightweight planter with drainage holes. You can transfer it into another pot or leave it as is.</string>
			<key>location</key>
			<string>near window</string>
			<key>size</key>
			<string>heigh 38&apos;&apos;-45&apos;&apos;</string>
			<key>humidity</key>
			<string>upto 85%</string>
			<key>water</key>
			<string>once a week</string>
			<key>image</key>
			<string>bird</string>
		</dict>
		<key>Peperomia obtusifolia</key>
		<dict>
			<key>description</key>
			<string>Peperomia obtusifolia (AKA baby rubber plant) is known for its sturdy spoon-shaped leaves. Native to Florida, this houseplant has succulent-like qualities, meaning it stores water in its roots, stems, and leaves. This desk-sized option from The Sill comes in a five-inch round ceramic pot and only needs to be watered every week or two.</string>
			<key>location</key>
			<string>shaded indoors</string>
			<key>size</key>
			<string>heigh 23&apos;&apos;</string>
			<key>humidity</key>
			<string>nearly 83%</string>
			<key>water</key>
			<string>once a week</string>
			<key>image</key>
			<string>peperomia</string>
		</dict>
		<key>Fiddle leaf figs</key>
		<dict>
			<key>description</key>
			<string>Want something a bit larger? You might consider a fiddle leaf fig column, like this one from Bloomscape. This sizable indoor plant comes in an eco-friendly pot made of recycled materials and will be between 42 and 58 inches tall when it arrives on your doorstep.</string>
			<key>location</key>
			<string>near windows</string>
			<key>size</key>
			<string>heigh 38&apos;&apos; - 52&apos;&apos;</string>
			<key>humidity</key>
			<string>nearly 83%</string>
			<key>water</key>
			<string>once in 14 days</string>
			<key>image</key>
			<string>fiddle</string>
		</dict>
		<key>Zanzibar gem</key>
		<dict>
			<key>description</key>
			<string>The waxy, green-leafed Zanzibar gem (ZZ plant for short) is the perfect mid-sized houseplant. It helps purify the air, doesn&apos;t mind low-light conditions, and only needs water once every few weeks. The Sill&apos;s medium ZZ comes in a 7-inch round ceramic planter in black, blush, cream, mint, or classic terracotta.</string>
			<key>location</key>
			<string>any location</string>
			<key>size</key>
			<string>low plant</string>
			<key>humidity</key>
			<string>upto 60%</string>
			<key>water</key>
			<string>once in few weeks</string>
			<key>image</key>
			<string>zz</string>
		</dict>
		<key>Money tree</key>
		<dict>
			<key>description</key>
			<string>Easy-going money trees make excellent indoor plants. This affordable pick from Just Add Ice comes in a 5-inch ceramic pot and will be about 15 inches tall when it reaches your doorstep. As the brand&apos;s name implies, all you need to do is add two ice cubes to the soil once a week and set it in a brightly lit room.</string>
			<key>location</key>
			<string>shaded indoors</string>
			<key>size</key>
			<string>height 40&apos;&apos; - 50&apos;&apos;</string>
			<key>humidity</key>
			<string>upto 73%</string>
			<key>water</key>
			<string>every 11 days</string>
			<key>image</key>
			<string>money</string>
		</dict>
		<key>Philodron brasil</key>
		<dict>
			<key>description</key>
			<string>The philodendron brasil can grow in low-light areas and needs to be watered about once a week. This hardy plant from The Home Depot comes in a hanging basket with a removable hook. Hang it from your wall, above a window, or an indoor trellis, and marvel as the two-toned leaves slowly climb down toward the floor.
</string>
			<key>location</key>
			<string>above window</string>
			<key>size</key>
			<string>very large</string>
			<key>humidity</key>
			<string>upto 90%</string>
			<key>water</key>
			<string>every week</string>
			<key>image</key>
			<string>philodron</string>
		</dict>
	</dict>
	<key>plants</key>
	<array>
		<dict>
			<key>image</key>
			<string>philodron</string>
			<key>name</key>
			<string>Philodron brasil</string>
		</dict>
		<dict>
			<key>image</key>
			<string>money</string>
			<key>name</key>
			<string>Money tree</string>
		</dict>
		<dict>
			<key>image</key>
			<string>fiddle</string>
			<key>name</key>
			<string>Fiddle leaf figs</string>
		</dict>
		<dict>
			<key>image</key>
			<string>zz</string>
			<key>name</key>
			<string>Zanzibar gem</string>
		</dict>
		<dict>
			<key>image</key>
			<string>peperomia</string>
			<key>name</key>
			<string>Peperomia obtusifolia</string>
		</dict>
		<dict>
			<key>image</key>
			<string>bird</string>
			<key>name</key>
			<string>Bird of paradise</string>
		</dict>
	</array>
</dict>
</plist>
