<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ad</key>
	<string>San Francisco</string>
	<key>alexander</key>
	<string>Minsk</string>
	<key>b</key>
	<string>b</string>
	<key>ilya</key>
	<string>San Francisco</string>
	<key>juliett</key>
	<string>Сан-Франциско</string>
</dict>
</plist>
